[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Meanimiles"]
	path = Meanimiles
	url = https://github.com/dieterdebrauwer/meanimiles
